@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}

/* Estilos para telas médias */
@media only screen and (max-width: 768px) {
   .container {
       max-width: 90%;
       padding: 15px;
   }
}

/* Estilos para telas pequenas */
@media only screen and (max-width: 480px) {
   .container {
       max-width: 90%;
       padding: 10px;
   }
}

.body{
   background: color #f6f4f3 !important;
   
       
     
}

@media only screen and (max-width: 768px) {
   .navbar-toggler {
       margin-left: 10px; /* Alteração aqui */
   }

   .btn-outline-light {
       margin-right: 10px; /* Alteração aqui */
   }
}

/* Estilos para telas pequenas */
@media only screen and (max-width: 480px) {
   .navbar-toggler {
       margin-left: 5px; /* Alteração aqui */
   }

   .btn-outline-light {
       margin-right: 5px; /* Alteração aqui */
   }
}

.navbar{
    background-color:#f6f4f3 ;
 }

 .navbar-toggler{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    border: none !important;
 }

 .btn-outline-light{
    margin-right: 100px;
    border: #ffffff !important;
 }

 .navbar-toggler:hover{
    background-color: white !important;
 }

 .btn-outline-light:hover{
    background-color: white !important;
 }

 span{
    box-sizing: border-box;
    color:#000000;
    font-family: "Open Sans", sans-serif ;
    font-weight:bolder;
    font-size: x-large;
 }
 
 span:hover{
    background-color:#2e417e; 
    border-radius: 5px;
    color:#f6f4f3 ;
 }

 h5 img{
   margin-bottom: 10px;
   margin-left: 2px;
   
   }
   .sub{
      text-decoration: none !important;
   }
   p a{
      text-decoration: none !important;
      color:#2e417e;
      font-size:110%;
      font-weight:700;
      
      font-family: "Open Sans", sans-serif ;
   }
   p a:hover{
      background-color: #988dc1;
      border-radius: 5px;
   }
  
  
  .custom-dropdown-menu {
      background-color: #f6f4f3 !important;
      border: none;
      
  }
  .custom-dropdown-menu:hover{
      background-color: white !important;
      border:none;
  }
  
   .col{
      margin-bottom: 1cm;
        margin-left: 1cm;
        margin-right: 1cm;
    
    }
       
  
    .intro{
      margin-left: 1cm;
      margin-top: 5mm;
      margin-bottom: 20cm;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing:none;
    font-weight:500;
    font-style: normal;
    background-color:#d6d6d6;
    padding: 1cm;
    margin-right: 2cm;
    border-radius: 1cm;
  }
    
    .row{
        margin-top: 2cm;
        margin-right: 1cm !important;
        align-content: center !important;
        
    }

/* CAÇA PALAVRAS */

 table{
    text-align: center;
    padding: 30px;
 }

 table .tabel{
    padding-top: 30px;
 }

 td{
    width: 40px;
    height: 40px;
 }

 td input{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
 }

 .block{
    background-color: #000;
 }

 .container{
    background-color: #01184E;
    color: #fff;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
 }

 .container p, h1, h4{
    margin: 5px 20px;
    margin-top: 1cm;
 }

 .tabel {
    margin: 5 auto; 
 }

 .tabel{
    padding-top: 40px;
 }

 .btn{
    background-color: #3b429f !important;
    border: none !important;  
 }

 .btn:hover{
    background-color: #988dc1;
 }

 .botoes{

    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
 }

 .botes .btn{
    background-color: #fff;
    color:#000;
 }

 .botoes2 {
    text-align: center;
 }

 .botoes2 button {
    margin-top: 20px;
 }

/*RESPOSTA CORRETA OU ERRADA */

 .correta {
    background-color: green;
}

 .errada {
    background-color: red; 
 }


 /* BOTÕES INCLUSIVOS */

 .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000; 
    flex-direction: column; 
    gap: 0px; 
    margin-top: 3cm  ;
}
.spacer {
    width: 100px; 
    height: 100px !important; 
 
}

.btn-light{
    background-color: #2e417e;
    
    margin: 10px;
 }

 .btn-light:hover{
    background-color:#988dc1;
 }


/* CÓDIGO DO RODAPÉ */ 

footer{
   background-image: linear-gradient(180deg, #f6f4f3, #f6f4f3, #988dc1, #3b429f, #01184e);
   padding: 20px 0;
   margin: 20px 0;
   text-align: center;
   align-items: center;
   position:relative;
   width: 100%;
   font-size: medium;
   margin-top: 1cm;
   margin-bottom: -1cm;
   color: #fff;
}


@media (max-width: 768px) {
   td,
   td input {
       width: 30px; /* Alteração aqui */
       height: 30px; /* Alteração aqui */
   }
}

@media (max-width: 576px) {
   td,
   td input {
       width: 25px; /* Alteração aqui */
       height: 25px; /* Alteração aqui */
       font-size: 12px; /* Alteração aqui */
   }
}



fixed-top-right {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000; 
   flex-direction: column; 
   gap: 10px; 
   margin-top: 7cm  ;
}

.spacer {
   width: 100px; 
   height: 100px !important; 
}

.btn-light{
   background-color: #2e417e !important;

   margin: 10px;
}

.btn-light:hover{
   background-color:#988dc1 !important;
}

/* POPUOP */

.popup {
   display: none; 
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 999; 
   overflow: auto; 
}

.popup-content {
   background-color: #fefefe;
   margin: 15% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 20%; 
   border-radius: 5px;
}

.fechar {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.fechar:hover,
.fechar:focus {
   color: white;
   text-decoration: none;
   cursor: pointer;
}
